body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}

.register{
    float: right;
    font-size: 12px;
    color: royalblue;
}
.register a{
    text-decoration: none;
}

.container{
    width: 360px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.container h1{
    font-size: 40px;
    margin-top: 125px;
    margin-bottom: 60px;
}

.tbox{
    width: 260px;
    height: 40px;
    border-radius: 10px;
    background: #f1f1f1b3;
    margin: 10px auto;
}

.tbox input{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #2c3e50;
}

.btn{
    width: 260px;
    height: 40px;
    border-radius: 10px;
    background: #3498db;
    margin: 10px auto;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

.b1{
    display: block;
    width: 260px;
    color: #2c3e50;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    margin: auto;
    transition: 0.4s all;
}

.b2{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    color: #3498db;
    text-decoration: none;
    padding: 15px 0;
    margin: auto;
    text-align: center;
    transition: 0.4s all;

}

a:hover{

    background: rgba(52, 73, 94,.7)
}